

<% matched = citations.reject { |c| !c.has_key?('doi') }.count %>
<% not_matched = citations.count - matched %>

<div>

	<% if !not_matched.zero? %>
	<h1>Edit&nbsp;<%= citations.count %>&nbsp;Citations</h1>
	<% else %>
	<h1>Edit&nbsp;<%= citations.count %>&nbsp;Citation</h1>
	<% end %>
</div>
<div class="visibility">
	<form>
		<label>Visibility: </label>
		<select>
			<option>Public</option>
			<option>Private</option>
	</select>
	</form>
</div>
<!-- Insert unmatches citations -->

<div class="option-bar filter group">
	<p class="byline"><%= not_matched %> Unmatched</p>
	<select>
		<option>Show all</option>
		<option>Matched</option>
		<option>Unmatched</option>
	</select>
</div>
<div class="page">
	<ul class="two-col match-list">
		<% citations.each_index do |i| %>
		<% citation = citations[i] %>

		<li class="group
		<%= i %>
		<% if citation['removed'] %>
		removed
		<% else %>
		shown
		<% end %>
		">

		<div class="col0">
			<h2><%= (i+1) %>.</h2>
			<div class="citation-controls">
				<div class="input-append input-prepend">
								<!-- <a href="#" class="btn-citation-unremove <% if !citation['removed'] %>hide<% end %>">Show</a>
								<a href="#" class="btn-citation-remove <% if citation['removed'] %>hide<% end %>">Hide</a> -->
							</div>
						</div>
						
					</div>


					<div class="col col1 group">
						<h3>Extracted</h3>
						<span class="cite"><%= citation['text'] %></span>
					</div>

					<div class="col col2 group">
						<% if citation.has_key?('doi') %>
						<div class="text-success citation-doi-text">
							<h3>Matched to</h3>
							<span class="cite"><%= citation['text'] %></span>
							<div class="doi"><a href="http://dx.doi.org/<%= citation['doi'] %>"><%= citation['doi'] %></a></div>
						</div>
						<% else %>
						<div class="unmatched">
							<h3>Unmatched</h3>
							<a href="citations/<%= i %>">Search for a work</a>
						</div>
						<% end %>
					</div>

					<div class=" col col4 group">
						
						<ul class="options">
							<li><a href="citations/<%= i %>" title="Edit" class="btn-citation-edit"><i class="icon-edit"></i></a></li>
							<li><a href="#" title="hide"><i class="icon-eye-open"></i></a></li>
							<li><a href="#" title="delete" class="danger"><i class="icon-trash"></i></a></li>
						</ul>
						
					</div>

				</li>

				<% end %>
			</ul>

</div>
