

<% matched = citations.reject { |c| !c.has_key?('doi') }.count %>
<% not_matched = citations.count - matched %>


<h1>Edit</h1>
<!-- Insert unmatches citations -->

<div class="option-bar filter group">
	<span><%= citations.count %>&nbsp;Citations</span> &nbsp;|&nbsp;
	<span class="byline"><%= not_matched %> Unmatched</span>
	<select>
		<option>Show all</option>
		<option>Matched</option>
		<option>Unmatched</option>
	</select>
</div>
<div class="page">
	<ul class="two-col match-list">
		<% citations.each_index do |i| %>
		<% citation = citations[i] %>

		<li class="group
		<%= i %>
		<% if citation['removed'] %>
		removed
		<% else %>
		shown
		<% end %>
		">
		
		<div class="col0">

			<h2><%= (i+1) %>.</h2>
			<div class="citation-controls">
				<div class="input-append input-prepend">
								<!-- <a href="#" class="btn-citation-unremove <% if !citation['removed'] %>hide<% end %>">Show</a>
								<a href="#" class="btn-citation-remove <% if citation['removed'] %>hide<% end %>">Hide</a> -->
							</div>
						</div>
						
					</div>


					<div class="col col1 group">
						<h3>Extracted</h3>
						<span class="cite"><%= citation['text'] %></span>
					</div>

					<div class="col col2 group">
						<% if citation.has_key?('doi') %>
						<div class="text-success citation-doi-text">
							<h3>Matched to</h3>
							<span class="cite"><%= citation['text'] %></span>
							<div class="doi"><a href="http://dx.doi.org/<%= citation['doi'] %>"><%= citation['doi'] %></a>
							</div>

							<a href="#" class="btn btn-small"><i class="icon-edit"></i>&nbsp;Edit</a>
						</div>
						<% else %>
						<div class="unmatched">
							<h3>Unmatched</h3>
							<a href="citations/<%= i %>">Search for a work</a>
						</div>
						<% end %>


					</div>
					<div class="options">
						<ul class="group">
							<li><a href="#" class="btn btn-link "><i class="icon-eye-open"></i> Hide</a>
							</li>
							<li><a href="#" class="btn btn-link danger"><i class="icon-trash"></i> Delete</a></li>
						</ul>
					</div>

				</li>

				<% end %>
			</ul>

		</div>
