<%= partial :header %>
<div class="main match">
	<div class="container">
		<div class="row ">
			<div class="breadcrumb">
				&lsaquo;
				<a href="#">Back</a>
			</div>

			<h1>Match citation</h1>
			<div>
				<form id="change-citation-form" method="post">
					<input id="citation-text-input" type="hidden" name="text" value="<%= citation['text'] %>"></input>
					<input id="citation-doi-input" type="hidden" name="doi" value="<%= citation['doi'] or '' %>"></input>
					<button class="btn confirm" type="submit">Verify</button>
					<a href="#" class="btn btn-link">Delete</a>
				</form>
				

				
			</div>

			<div class="cite-list">
				
				<span id="citation-textarea" class="cite extracted"><%= citation['text'] %></span>
			

			</div>		
			<div class="cite-list">
				
				<div id="citation-doi-info">
					<% if citation.has_key?('doi') %>
						
						<div class="matched">
						  <h2>Match to</h2>
						  <% if citation['coins'] %>
						    <span><%= citation['atitle'] %></span>
						    <span class="author"><%= citation['coins']['au'].join(', ') %></span>,
						    <span class="publication"><%= citation['coins']['jtitle'] %></span>,
						    <span class="date"><%= citation['coins']['date'] %></span>
						    <span class="doi"><a href="http://dx.doi.org/<%= citation['doi'] %>"><%= citation['doi'] %></a></span>
						  <% else %>
						    <span class="cite"><%= citation['text'] %></span>
						    <a href="<%= citation['doi'] %>"><%= citation['doi'] %></a>
						  <% end %>
						</div>
					<% end %>
				</div>
				
				<h2>Sugested matches</h2>
				<form>
					<input type="text" placeholder="Search" class="search">
				</form>
				<ul id="match-result">
				</ul>
				
				
				

			</div>
			
		</div>	
	</div>
</div>
