<%= partial :header %>
<div class="main">
	<div class="container">
		<div class="row ">
			<div class-"breadcrumb">
				<a href="#">Breadcrumb</a>
				&rsaquo;
			</div>
			<h1>Edit citation</h1>

			<div id="citation-doi-info">
				<% if citation.has_key?('doi') %>

					Matched to <%= citation['doi'] %>
				<% else %>
						Not matched to a DOI
				<% end %>
			</div>
			
			<div class="span10 offset1">
				<textarea id="citation-textarea" name="text" class="lead full-width" rows="4"><%= citation['text'] %></textarea>
			</div>

			<div>
				<form id="change-citation-form" method="post">
					<input id="citation-text-input" type="hidden" name="text" value="<%= citation['text'] %>"></input>
					<input id="citation-doi-input" type="hidden" name="doi" value="<%= citation['doi'] or '' %>"></input>
				</form>
				<button class="btn confirm" type="submit">Save</button>
				<a href="/deposit/<%= name %>/citations">Forget changes</a>
			</div>

		</div>	

		<h2>Suggestions</h2>
		<table class="table" id="results-table">
		</table>

	</div>
<div>
