<%= partial :header %>

<div class="row">
  <div class="span10 offset1">
    <%= partial :steps, :position => :citations %>

    <% matched = citations.reject { |c| !c.has_key?('doi') }.count %>
    <% not_matched = citations.count - matched %>

    <div class="well">
      <p>
        <span class="badge badge-info"><%= citations.count %></span> citations
        <span class="badge badge-success"><%= matched %></span> matched to DOIs
        <span class="badge badge-important"><%= not_matched %></span> not matched
      </p>
      <% if !not_matched.zero? %>
        <p>
         <i class="icon-warning-sign"></i>
         Some citations are not matched to DOIs. You should try to match unmatched
         citations by clicking on them and editing the citation text.
        </p>
      <% end %>   
    </div>

    <table class="table">
    <% citations.each_index do |i| %>	
      <% citation = citations[i] %>
      <tr class="citation-row" id="<%= i %>">
        <td><%= (i+1) %>.</td>
	<td>
          <p class="lead"><%= citation['text'] %></p>
	  <% if citation.has_key?('doi') %>
	    <span class="label label-success">
              <i class="icon-ok-circle icon-white"></i> 
              Matched to 
              <strong><%= citation['doi'] %></strong>
            </span>
	  <% else %>
            <span class="label label-important">
              <i class="icon-remove-circle icon-white"></i>
              Not matched to a DOI
            </span>
          <% end %>  
	</td>
      </tr>
    <% end %>
    </table>
  </div>
</div>