<%= partial :header %>

<div class="row">
  <div class="span10 offset1">

    <div class="lead">
      <span class="field-label span3"><i class="icon-file"></i> File</span>
      <span class="field-value"><%= pdf['upload_filename'] %></span>
    </div>
    <div class="lead">
      <span class="field-label span3"><i class="icon-link"></i> DOI</span>
      <span class="field-value"><%= pdf['doi'] %></span>
    </div>
    <div class="lead">
      <span class="field-label span3"><i class="icon-time"></i> Uploaded</span>
      <span class="field-value"><%= pdf['uploaded_at'] %></span>
    </div>
    <div class="lead">
      <span class="field-label span3"># Citations</span>
      <span class="field-value"><%= extraction['citations'].count %></span>
    </div>
  
    <div class="page-header">
      <h4>Status</h4>
    </div>

    <% if deposit.nil? || deposit['status'] == 'started' %>
      <span class="alert alert-warning">Deposit is processing.</span>
    <% elsif deposit['status'] == 'finished' %>
      <span class="alert alert-success">Deposit completed successfully.</span>
    <% elsif deposit['status'] == 'failed' %>
      <span class="alert alert-important">Deposit failed.</span>
    <% end %>

    <div class="page-header">
      <h4>Citations</h4>
    </div>

  </div>
</div>

