<%= partial :header %>
<% if undeposited.count != 0 %>
<div class="main">
	<div class="row">
		<div class="container page-activity">

			<h1>Deposits</h1>
			<div>
				
				<a href="/deposit" class="btn primary">Make a deposit</a>
				<input type="text" placeholder="Search deposits" class="search">

			</div>
			
			<div class="option-bar filter group">
				<select>
					<option>Show all</option>
					<option>Done</option>
					<option>Processing</option>
					<option>Incomplete</option>
					<option>Failed</option>
				</select>
			</div>
			
			<ul class="deposit-list">
				<% undeposited.each do |pdf| %>
				<li>
					<a href="<%= '/deposit/' + pdf['name'] %>">
					<!-- Status -->

					<div class="status">
						<!-- Extracted -->
						<% if [:uploaded, :extracted].include?(pdf['status']) %>
						<span class="label label-info">
							<%= pdf['status'].to_s.gsub('_', ' ').capitalize %>
						</span>

						<!-- Depositing -->
						<% elsif [:extracting, :depositing].include?(pdf['status']) %>
						<span class="label label-warning">
							<%= pdf['status'].to_s.gsub('_', ' ').capitalize %>
						</span>

						<!-- Failed -->
						<% elsif [:extract_failed, :deposit_failed].include?(pdf['status']) %>
						<span class="label label-important">
							<%= pdf['status'].to_s.gsub('_', ' ').capitalize %>
						</span>

						<!-- Done -->
						<% elsif pdf['status'] == :deposited %>
						<span class="label label-success">
							<%= pdf['status'].to_s.gsub('_', ' ').capitalize %>
						</span>
						<% else %>
						<span class="label"><%= pdf['status'].to_s.gsub('_', ' ').capitalize %></span>
						<% end %>
					</div>
					

					<!-- Display -->
					<div class="doi-name">

							<% if pdf['metadata'].nil? %>
							<h2 class="cite"><%= pdf['upload_filename'] %></h2>
							<% else %>
							<h2 class="cite">
								<%= pdf['metadata']['title'] %>
							</h2>
							<span class="journal"><%= pdf['metadata']['container-title'] %></span>
							<span>(<%= pdf['metadata']['issued']['date-parts'].first.first %>)</span>

							<% end %>
						
					</div>

					<!-- timeago -->
					<span class="timeago" title="<%= pdf['status_at'].iso8601 %>"></span>
					</a>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>


<% else %>
<div class="main narrow">
	<div class="first-deposit container">
		<h1>Let's get started…</h1>
		<a href="/deposit" class="btn primary">Make a deposit</a>
	</div>
</div>

<% end %>
