<%= partial :header %>
<div class="doi-page">
	<div class="row">
		
		<div class="container">
			<div class="content ">
				<!-- No DOI -->
				<% if status == 'doi_missing' %>
					<form method="post" action="doi">
						<label>Add a DOI</label>
						<input type="text" name="article_doi">
						<input type="submit">

						<p>Not got a DOI? <a href="http://www.crossref.org/webDeposit/">Get one now</a></p>
					</form>
				<!-- Has DOI -->
				<% else %>
						<!-- Journal -->
						<span class="journal">Journal <%= info['journal']['name'] %></span>
						
						<!-- Title -->
						<h1><%= info['title'] %></h1>

						<!-- Author -->
						<% if info['author'].count < 6%>
							<div class="author">
								&mdash;&nbsp;<%= info['author'].map {|a| a['name']}.join(', ') %>
							</div>
						<% end %>

						<!-- Meta -->
						<div class="meta">
							<!-- issue -->
							<div class="issue">
								<span>Vol. <%= info['journal']['volume'] %></span>&#44;
								<span>Issue <%= info['journal']['issue'] %></span>&#44;
								<span>Pages <%= info['journal']['first_page'] %>&ndash;<%= info['journal']['last_page'] %></span>
							</div>

							<!-- Published -->
							<span class="published"><em>Published:&nbsp;</em><%= info['day'] %> <%= info['month'] %> <%= info['year'] %></span>
							
					
							<!-- Owner -->
							<% if status != 'owner_missing' %>
								<div> <em>Owner:</em>&nbsp;<%= owner_name %></div>
							<% end %>
							

							<!-- DOI and ISSN -->
							<div>
						    	<span><em>DOI:</em>&nbsp;<a href="#" class="doi"><%= doi %></a></span>
						    	&nbsp;&#124;&nbsp;
						    	<span><em>ISSN:</em>&nbsp;<%= info['journal']['identifier'].map {|a| a['id']}.join(', ')%></span>
						    </div>
					    </div>
						<!-- Multiple authors -->
						<% if info['author'].count > 5%>
							<div class="author-list">
								<h2>Authors</h2>
								<%= info['author'].map {|a| a['name']}.join(', ') %>
							</div>
						<% end %>
		    	<% end %>				
				<form id="form-doi" class="hidden" method="post">
					<input type="text" id="doi-input" name="doi" placeholder="Enter a DOI" value="<%= doi %>">  
				</form>

				<!-- <div>
					<button id="btn-next-citations" class="btn btn-success disabled"><i class="icon-circle-arrow-right"></i> Next</button>
					<button id="btn-back-upload" class="btn"><i class="icon-circle-arrow-left"></i> Upload a different PDF</button>
				</div> -->
			</div>
		</div>
	</div>



	<div class="row block-bg">
		<div class="container">
			
			<div class="cite-list">
				<h2>Includes ### citations</h2>
				<a href="#" class="inline">Edit</a> |
				<a href="#" class="inline">Embed these citations</a>

				<ul>
					<li>	
					    	<a href="#" class="cite-title">Toward a Unified Theory of High-Energy Metaphysics: Silly String Theory</a>
					    	<span class="doi"			>10.5555/12345678</span>
					    	<span class="author"		>Josiah Carberry</span> | 
					    	<span class="publication"	>Journal of Psychoceramics</span> | 
					    	<span class="issue"			>vol. 5, no. 11</span>

					    	
				  	</li>

				  	<li>	
					    	<a href="#" class="cite-title">Toward a Unified Theory of High-Energy Metaphysics: Silly String Theory</a>
					    	<span class="doi"			>10.5555/12345678</span>
					    	<span class="author"		>Josiah Carberry</span> | 
					    	<span class="publication"	>Journal of Psychoceramics</span> | 
					    	<span class="issue"			>vol. 5, no. 11</span>
				  	</li>

				  	<li>	
					    	<a href="#" class="cite-title">Toward a Unified Theory of High-Energy Metaphysics: Silly String Theory</a>
					    	<span class="doi"			>10.5555/12345678</span>
					    	<span class="author"		>Josiah Carberry</span> | 
					    	<span class="publication"	>Journal of Psychoceramics</span> | 
					    	<span class="issue"			>vol. 5, no. 11</span>
				  	</li>

				</ul>	
			</div>

			<div class="cite-list">
				<h2>Cited by ### articles</h2>
				<a href="#" class="inline">Embed these citations</a>

				<ul>
					<li>	
					    	<a href="#" class="cite-title">Toward a Unified Theory of High-Energy Metaphysics: Silly String Theory</a>
					    	<span class="doi"			>10.5555/12345678</span>
					    	<span class="author"		>Josiah Carberry</span> | 
					    	<span class="publication"	>Journal of Psychoceramics</span> | 
					    	<span class="issue"			>vol. 5, no. 11</span>
					    	
				  	</li>

				  	<li>	
					    	<a href="#" class="cite-title">Toward a Unified Theory of High-Energy Metaphysics: Silly String Theory</a>
					    	<span class="doi"			>10.5555/12345678</span>
					    	<span class="author"		>Josiah Carberry</span> | 
					    	<span class="publication"	>Journal of Psychoceramics</span> | 
					    	<span class="issue"			>vol. 5, no. 11</span>
				  	</li>

				  	<li>	
					    	<a href="#" class="cite-title">Toward a Unified Theory of High-Energy Metaphysics: Silly String Theory</a>
					    	<span class="doi"			>10.5555/12345678</span>
					    	<span class="author"		>Josiah Carberry</span> | 
					    	<span class="publication"	>Journal of Psychoceramics</span> | 
					    	<span class="issue"			>vol. 5, no. 11</span>
				  	</li>

				</ul>	
			</div>


		</div>
	</div>

</div>
