<% results.each do |result| %>

		<li class="result-text">
			<span class="cite">
				<%= result['fullCitation'] %>
			</span>
			<span class="title">
				<%= result['atitle'] %>
			</span>
			<span class="journal">
				<%= result['jtitle'] %>
			</span>
			<span class="year">
				Year<%= result['date'] %>
			</span>
			<span class="volume">
				<%= result['volume'] %>
			</span>
			<span class="issue">
				<%= result['issue'] %>
			</span>
			<span class="pages">
				<%= result['spage'] %>-<%= result['lpage'] %></b>
			</span>
			<span class="authors">
				<%= result['au'].join(', ') %>
			</span>

			<span class="result-doi">
				<%= result['doi'] %>
			</span>
		</li>
		
<% end %>